html {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

body {
  padding-bottom: 15px;
}

.logo {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 760px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.signature {
  text-align: right;
}
